<div class="smart-form">
    <div class="row">
        <div class="col col-6">
            <label class="input">
                {{km_minutes}}
            </label>
        </div>
    </div>
</div>
<div id="right-panel"></div>
<div id="floating-panel">
    <b>Modo de Viaje: </b>
    <select id="mode">
        <option value="DRIVING">Ir manejando</option>
        <option value="WALKING">Ir caminando</option>
        <option value="BICYCLING">Ir bicicleta</option>
        <option value="TRANSIT">Transito</option>
    </select>
</div>

<div id="leftt-panel">
    <div>
        <strong>Tiempo</strong>
    </div>
    <div id="km_outputDiv"></div>
    <div id="minutes_outputDiv"></div>
</div>
<div id="map"></div>
