<p-growl [(value)]="msgs"></p-growl>
<div class="consulta-creator">
    <div class="consulta-creator__title">
        <h1>
            <img src="assets/img/pollo.svg">
            Poller&iacute;a Pardos Chicken
        </h1>
    </div>
    <div id="content" class="search-view">
        <div class="consulta-creator">
            <div class="smart-form">
                <div class="row">
                    <section class="col col-2">
                        <label class="input"> <i class="icon-append fa fa-chevron-down"></i>
                            <input type="text" name="repartidor" placeholder="Repartidor" [(ngModel)]="repartofilter.repartidor_reparto"/>
                        </label>
                    </section>
                    <section class="col col-2">
                        <label class="input"> <i class="icon-append fa fa-chevron-down"></i>
                            <input type="text" name="estado" placeholder="Estado" [(ngModel)]="repartofilter.estado_reparto"/>
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-4">
                        <button type="submit" class="btn btn-lg btn-primary" (click)="busquedaReparto()">
                            Buscar
                        </button>
                    </section>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <label></label>
                        <!--<label>Resultado: {{reservaResult.length}}</label>-->
                    </div>
                </div>
                <div class="row">
                    <div class="widget-body">
                        <div class="table-responsive col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>C&oacute;digo Reparto</th>
                                    <th>Carta</th>
                                    <th>Direcci&oacute;n</th>
                                    <th>Repartidor</th>
                                    <th>Hora Inicio Reparto</th>
                                    <th>Hora Asignado Reparto</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let asset of repartoResult">
                                    <td class="text-center" width="40">
                                        <a href="javascript:void(0)" class="link" (click)="irDetalle(asset)">
                                            <span class="fa fa-eye"></span></a>
                                    </td>
                                    <td>{{asset.cod_reparto}}</td>
                                    <td>{{asset.cod_carta}}</td>
                                    <td>{{asset.direccion_reparto}}</td>
                                    <td>{{asset.nombres_repartidor}}</td>
                                    <td>{{asset.horainicio_reparto}}</td>
                                    <td>{{asset.horaasignado_reparto}}</td>
                                    <td>{{asset.estado_reparto}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
